html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 20px;
  padding: 30px 20px;
  color: #FFC0CB;
  text-shadow: 1px 3px 2px black;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: #FFC0CB;
}

html {
  background-color: #ffd5d1;
}

body {
  width: 665px;
  margin: 0 auto;
  background-color: #a94064;
  padding: 0 20px 20px 20px;
  border: 2px solid black;
}

img {
  display: block;
  margin: 0 auto;
  border: 2px solid black;
}

button {
  display: inline-block;
  border-radius: 4px;
  background-color: #e0218a;
  border: 2px solid black;
  color: #ffd5d1;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
